@import "../fonts/fonts.css";

/* main */

html,
body {
    font: normal 18px/26px ProbaPro;
    color: #373736;
    background-color: #E5E5E5;
}

#wrapper {
    min-height: 100vh;
    overflow: hidden;
}

h1,
.h1 {
    font: 600 65px/77px ProbaPro;
    color: #E5E5E5;
}

h2,
.h2 {
    font: 500 50px/60px ProbaPro;
    color: #373736;
}

h4,
.h4 {
    font: 500 24px/34px ProbaPro;
    color: #373736;
}

h5,
.h5 {
    margin-bottom: 20px;
    font: 500 30px/40px CeraPro;
    color: #4F4F4F;
}

p {
    font: normal 18px/26px ProbaPro;
    color: #373736;
}

a {
    color: #373736;
    transition: color 300ms ease;
}

a:hover {
    color: #373736!important;
    text-decoration: none;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1470px;
}

.mb__130 {
    margin-bottom: 130px;
}

.bg__cover {
    background-color: transparent;
    background-position: center;
    background-size: cover;
}


/* main */


/* buttons */

.btn {
    height: 58px;
    padding: 1em 2em;
    font: 600 18px/23px ProbaPro;
    color: #FFFFFF;
    border: 0 none!important;
    outline: 0 none!important;
    border-radius: 4px;
    box-shadow: none!important;
}

.btn-primary {
    background-color: #FF1F3A;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
    background-color: #E51D21!important;
}


/* buttons */


/* icons */

.ico.qrcode {
    width: 58px;
    height: 58px;
    display: block;
    background: url(../imgs/qr_code.png) no-repeat 50% / cover;
}


/* icons */


/* header */

#header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0 auto;
    background-color: rgba(8, 109, 21, 0.6);
}

#header .border-bottom {
    padding-top: 12px;
    padding-bottom: 12px;
    border-color: rgba(255, 255, 255, .4);
}

#header .logo {
    width: 156px;
    height: 53px;
    display: block;
    background: url(../imgs/logo.png) no-repeat 0 / cover;
}

#header .phone__box a {
    font: bold 18px/26px ProbaPro;
}

#header .phone__box span {
    font: 500 14px/20px ProbaPro;
}

#header .link__favorite .qty {
    min-width: 15px;
    height: 15px;
    padding: 1.5px 2px;
    display: block;
    position: absolute;
    bottom: -4px;
    right: -5px;
    font: 600 12px/12px ProbaPro;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    background-color: #FF1F3A;
}

#header .link__favorite .ico {
    width: 24px;
    height: 24px;
    display: block;
    background: url(../imgs/icons/heart_icon.svg) no-repeat 50% / 24px 24px;
    transition: all 300ms ease;
}

#header .link__favorite:hover .ico {
    background-image: url(../imgs/icons/heart_icon_hover.svg);
}


/* header */


/* formSearch */

#formSearch {
    height: 48px;
}

#formSearch .form-control {
    min-width: 350px;
    height: 100%;
    padding-right: 64px;
    font: 600 18px/23px ProbaPro;
    color: #fff;
    border: 1px solid transparent;
    outline: 0 none!important;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .2);
}

#formSearch .form-control:focus {
    border-color: #fff;
    box-shadow: none;
}

#formSearch .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .7);
}

#formSearch .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, .7);
}

#formSearch .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, .7);
}

#formSearch .form-control::-ms-input-placeholder {
    color: rgba(255, 255, 255, .7);
}

#formSearch .form-control::placeholder {
    color: rgba(255, 255, 255, .7);
}

#formSearch button[type="submit"] {
    width: 64px;
    height: calc(100% - 2px);
    position: absolute;
    top: 1px;
    right: 0;
    border: 0 none;
    outline: 0 none;
    border-radius: 0 4px 4px 0;
    background: url(../imgs/icons/search_icon.svg) no-repeat 50% 50% / 24px 24px;
    transition: all 300ms ease;
}

#formSearch button[type="submit"]:hover {
    background: url(../imgs/icons/search_icon_hover.svg) no-repeat 50% 50% / 24px 24px;
    background-color: #fff;
}


/* formSearch */


/* mainMenu */

#mainMenu .nav-link {
    padding-top: 13px;
    padding-bottom: 13px;
    font: 500 24px/34px ProbaPro;
    color: #fff;
}

#mainMenu .nav-link:hover {
    color: #373736;
}

#mainMenu .dropdown-toggle::after {
    content: '';
    padding: 4px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: 0.15em;
    border-top: 0;
    border-left: 0;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    transition: border-color 300ms ease;
}

#mainMenu .dropdown-toggle:hover::after {
    border-color: #373736;
}

#mainMenu .dropdown-toggle[aria-expanded="true"]::after {
    vertical-align: 0;
    transform: rotate(-135deg);
}

#mainMenu .dropdown-menu {
    min-width: 250px;
    background-color: rgba(8, 109, 21, 0.6);
}

#mainMenu .dropdown-menu .nav-link {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
}


/* mainMenu */


/* mainSlider */

#mainSlider .owl-item .bg__cover {
    height: 100vh;
    min-height: 900px;
}

#mainSlider .slide__content {
    border-radius: 8px;
    background-color: rgba(57, 87, 61, .6);
}

#mainSlider .slide__content p {
    font: normal 24px/38px ProbaPro;
}

#mainSlider .owl__dots {
    position: absolute;
    bottom: 35px;
}

#mainSlider .owl__dots .col-auto {
    z-index: 1000;
}

#mainSlider .owl__dots .owl-dot,
#mainSlider .owl__dots .owl-dot:focus {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    outline: 0 none;
    border: 2px solid rgba(57, 87, 61, .5);
    border-radius: 50%;
    background-color: #fff;
}

#mainSlider .owl__dots .owl-dot:last-child {
    margin-left: 0;
}

#mainSlider .owl__dots .owl-dot:hover {
    transform: scale(1.3);
}

#mainSlider .owl__dots .owl-dot.active {
    border-color: rgba(255, 255, 255, .5);
    background-color: rgba(57, 87, 61, .8);
}


/* mainSlider */


/* card */

.card__type1 {
    min-height: 410px;
    overflow: hidden;
    background-color: transparent;
    border: 0 none;
    border-radius: 2px;
    transition: all 300ms ease;
}

.card__type1:hover {
    box-shadow: 0px 8px 120px rgba(0, 0, 0, 0.05);
}

.card__type1 .card-img {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 300ms ease;
}

.card__type1:hover .card-img {
    transform: scale(1.05);
}

.card__type1 .bg__gradient {
    position: relative;
    background: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, #1B1B1B 100%);
}

.card__type1 .bg__gradient::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, #1B1B1B 100%);
}


/* card */